node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
android/local.properties
android/keystore.properties
android/app/keystore.jks
android/app/build/
android/build/
android/.gradle/
android/capacitor-cordova-android-plugins/build/
android-sdk/
keystore.properties
